.card_shopping {
  width: 35%;
  height: 35%;
  background-color: white;
  margin: 1.5em;
  border: 1px solid black;
}

.card_shopping_title {
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.card_shopping_title p {
  font-weight: bolder;
  font-size: 16px;
}

.card_shopping_pokeball_icon {
  height: 50%;
}

.card_shopping_pokeball_icon img {
  height: 8em;
}

.quantity_shopping_balls {
  height: 10%;
}

.button_input_shopping {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_shopping input {
  width: 60%;
  height: 1.8em;
}

.card_shopping button img {
  height: 1.5em;
}

@media screen and (min-width: 1200px) {
  .card_shopping {
    width: 15%;
  }
}
